* {
  font-family: "Open Sans", sans-serif;
}
body {
  height: 1600px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
nav > ul {
  display: flex;
  align-items: center;
}
#navTitle {
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}
#textPrimary {
  color: #fd6e0a;
}
nav li {
  margin-right: 50px;
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: #474747;
}
.primaryButton {
  width: 150px;
  height: 64px;
  border: 0;
  border-radius: 5px;
  background-color: #fd6e0a;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  padding: 18px 35px;
}
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
#profilePicture {
  width: 500px;
}
.banner {
  padding: 30px 30px 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#bannerGreeting {
  font-size: 45px;
  font-weight: 400;
  color: #474747;
}
#bannerTitle {
  width: 490px;
  height: 115px;
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-top: -60px;
}
#bannerDescription {
  max-width: 585px;
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  margin-top: -30px;
  margin-bottom: 50px;
}
#bannerButtonLeft {
  width: 200px;
  height: 64px;
  border: 0;
  border-radius: 5px;
  background-color: #fd6e0a;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 18px;
}
#bannerButtonRight {
  width: 200px;
  height: 64px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  background-color: #fff8f3;
  color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
  margin-bottom: 30px;
}

/* Main Section*/
main {
  max-width: 1140px;
  height: 550px;
  margin: 0 auto;
}
/* About section styles */
.about {
  border-radius: 10px;
  background-color: #fff8f3;
  padding: 130px;
  margin-top: 130px;
}
.sectionTitle {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  text-align: center;
}
.sectionDescription {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #757575;
}
.aboutInfoContainer {
  display: flex;
  justify-content: space-evenly;
}
.aboutInfo {
  text-align: center;
}
.infoTitle {
  font-size: 20px;
  font-weight: 400;
  color: #757575;
}
.infoDescription {
  font-size: 20px;
  font-weight: 700;
  color: #474747;
}
#sectionTitle {
  margin-top: 130px;
}
#whatIDoDescription {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 150px;
}
.skillsContainer {
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
  margin: 50px 0;
}
.skills {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skills img {
  margin: 0 auto;
}
.skillTitle {
  font-size: 20px;
  font-weight: 700;
  color: #181818;
}
.skillDescription {
  width: 200px;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
#resumeTitle {
  margin-top: 130px;
}
.resumeContainer {
  display: flex;
  justify-content: space-evenly;
}
.resumeColumn {
  font-size: 30px;
  font-weight: 700;
  color: #474747;
}
.resumeColumnTitle {
  font-size: 25px;
  font-weight: 700;
  color: #474747;
}
.resumeDetailsTitle {
  font-size: 25px;
  font-weight: 700;
  color: #474747;
}
.resumeDetailsSubtitle {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-top: -20px;
}
.resumeDetailsDescription {
  width: 510px;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
.line {
  margin-top: 30px;
}
.downCv {
  text-align: center;
}
.resumeBtn {
  width: 200px;
  height: 64px;
  border: 0;
  border-radius: 5px;
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 50px 0;
}

.footerContainer {
  display: flex;
  gap: 80px;
  justify-content: space-evenly;
  background-color: #fff8f3;
  margin-top: 110px ;
}
.footerColumn {
  margin-top: 80px;
}
.footerTitle{
  font-size: 35px;
  font-weight: 700;
  color: #181818;
}
.footerDescription {
  width: 450px;
  font-size: 16px;
  font-weight: 400;
  color: #474747;
}
.icons{
  display: flex;
}
.icons img {
  width: 24px;
  height: 24px;
  padding-right: 20px;
}

.form input[type="text"], textarea{
  display: block;
  margin-bottom: 24px;
  padding: 18px 30px;
  color: #757575;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  width: 350px;
}
.submitBtn {
  width: 120px;
  height: 60px;
  margin-bottom: 80px;
  background-color: #fd6e0a;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
}

